<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>

<div class="panel panel-info">
    <div class="panel-heading">
    Profile
    </div>
    <div class="panel-body">
        <span class="label label-info">Nickname</span>
        <%= @user.nickname %>
    </div>
</div>
    